/*!
 * Stags Specific themeing
 *
 */

/* @import must be at top of file, otherwise CSS will not work */
 
  
@font-face {font-family: 'BrandonGrotesque-Medium';src: url('fonts/2590EA_1_0.eot');src: url('fonts/2590EA_1_0.eot?#iefix') format('embedded-opentype'),url('fonts/2590EA_1_0.woff') format('woff'),url('fonts/2590EA_1_0.ttf') format('truetype');}



#wpadminbar {
	border-top: 2px solid #cc3852!important;
}

.custom-background {
	color:#1e160e;
}

.minus20 {
	margin-bottom:-20px;
}

.page-title, .widget h2 {
	font-weight: 600!important;
	text-transform:uppercase;
}

.page .page-title a:link,.page-title a:active,.page-title a:hover,.page-title a:visited {
	color:#282828;
	text-decoration:none;
}

.main_body a:link,.main_body a:visited,.main_body a:active {
	font-weight:600;
	color:#236D6F;
}

.topnav1 {
	border-color:#236d6f!important;
}

.topnav2 {
	border-color:#777f2d!important;
}

.topnav3 {
	border-color:#e3634b!important;
}

.topnav4 {
	border-color:#af2426!important;
}

.topnav5 {
	border-color:#dead14!important;
}

a.search-block:link,a.search-block:visited {
	color:#574f3a;
	font-weight:400;
}

.color1, .color2, .color3, .color4, .color5, .color6, .color7, .color8 {
	color:#fff;
}

.color1,.color_color1 {
	background: #003b59!important;
}
.color2,.color_color2 {
	background: #777f2d!important;
}
.color3,.color_color3 {
	background: #ee821f!important;
}
.color4,.color_color4 {
	background:#b92420!important;
}

.color5,.color_color5 {
	background: #dead15!important;
}

.color6,.color_color6 {
	background: #5c8ea9!important;
}

.color7,.color_color7 {
	background: #a8af61!important;
}

.color8,.color_color8 {
	background:#6a1323!important;
}

.color9,.color_color9 {
	background:#D6D9CB!important;
}

.color10,.color_color10 {
	background:#F2EDDF!important;
}
.color11,.color_color11 {
	background:#E6DFCE!important;
}
.color12,.color_color12 {
	background:#EBF2F0!important;
}
.color13,.color_color13 {
	background:#ECF2EB!important;
}

.color14,.color_color14 {
	background:#F2F2EB!important;
}

.color15,.color_color15 {
	background:#F2EBF0!important;
}

.color16,.color_color16 {
	background:#fff!important;
}

.box_text h2 {
	text-align:left;
	font-weight:400;
	font-size:1.6em;
	margin-top:5px;
}
.box_text {
	font-weight:400;
}

.title_color1 {
	border-bottom-color:#dead14!important;
}

.title_color2 {
	border-bottom-color:#72b0bb!important;
}

.title_color3 {
	border-bottom-color:#c5c951!important;
}

.houses-sidebar a:link, .houses-sidebar a:visited, .houses-sidebar a:active {
	color: #fff!important;
}

.single-houses .page-title_cont .btn:link,.single-houses .page-title_cont .btn:active,.single-houses .page-title_cont .btn:hover,.single-houses .page-title_cont .btn:visited {
	color:#fff;
}

a.btn, a.btn.btn-1 {
    color:#fff!important;
}


.btn-2, .color_btn-2, input.btn-2[type="radio"] + label {
	background: #ee821f;
	color:#fff!important;
}

.btn-2:hover {
	background:#FF8E26;
}

.btn-2.active {
	border-color: #ee821f;
	color:#ee821f!important;
}

.btn-3, .color_btn-3, input.btn-3[type="radio"] + label {
	background: #777f2d;
}

.btn-3:hover {
	background:#A2B312;
}

.btn-3.active {
	border-color: #b0c400;
	color:#b0c400!important;
}

.btn-4 {
	background:#cc036b;
}

.btn-4:hover {
	background:#b5035f;
}

.btn-5.active, .btn-5:link {
	background-color: #fff;
}


.btn-1, .btn-1:link, .color_btn-1, input.btn-1[type="radio"] + label {
	background: #dead15;
	color:#000!important;
}

.btn-1 i {
	background-image: url("../img/glyphicons-halflings.png")!important;
}

.btn-1:hover {
	background:#F2BA0C;
	color:#000!important;
}

.houses-sidebar {
	background: #3f2b1f;
	color: #fff!important;
}