/*!
 * Big Cottage Specific themeing
 *
 */
 
.site15 {
	.custom-background .page-title a:link, .custom-background .page-title a:active, .custom-background .page-title a:hover, .custom-background .page-title a:visited  {
		color: #282828;
		text-decoration: none;
	}
	.main_body a:link, .main_body a:visited, .main_body a:active {
		font-weight: 600;
		color: #fff;
	}
	.minus20 {
		margin-bottom:-20px;
	}
	a.search-block:link, a.search-block:visited {
		color:#574f3a;
		font-weight: 400;
	}
	
	.color1, .color_color1 {
		background: #28a8a9!important;
		color: #fff;
	}
	.color2, .color_color2 {
		background: #70c7c4!important;
		color: #fff;
	}
	.color3, .color_color3 {
		background: #69a7c8!important;
		color: #fff;
	}
	.color4, .color_color4 {
		background: #2880a9!important;
		color: #fff;
	}
	.color5, .color_color5 {
		background: #00a3ce!important;
		color: #fff;
	}
	.color6, .color_color6 {
		background: #39bee5!important;
		color: #fff;
	}
	.color7, .color_color7 {
		background: #f4977b!important;
		color: #fff;
	}
	.color8, .color_color8 {
		background: #fcd36a!important;
		color: #fff;
	}
	.color9, .color_color9 {
		background: #fcf9e9!important;
	}
	.color10, .color_color10 {
		background: #c4e8e6!important;
	}
	.color11, .color_color11 {
		background: #fdeec9!important;
	}
	.color12, .color_color12 {
		background: #e1f9fd!important;
	}
	.color13, .color_color13 {
		background: #e1f9fd!important;
	}
	.color14, .color_color14 {
		background: #f3e3d5!important;
	}
	.color15, .color_color15 {
		background: #e6f1ee!important;
	}
	.color16, .color_color16 {
		background: #fcf9e9!important;
	}
	.title_color1 {
		border-bottom-color: #dead14!important;
	}
	.title_color2 {
		border-bottom-color: #72b0bb!important;
	}
	.title_color3 {
		border-bottom-color: #c5c951!important;
	}
	.btn-1, .color_btn-1, input.btn-1[type="radio"] + label {
		background: #28a8a9;
	}
	.btn-1:hover {
		background: #29d1d1;
	}
	.btn-1.active {
		border-color: #778025;
		color:#778025!important;
	}
	.btn-2, .color_btn-2, input.btn-2[type="radio"] + label {
		background: #00a3ce;
	}
	.btn-2:hover {
		background: #1db3dd;
	}
	.btn-2.active {
		border-color: #EF7055;
		color:#EF7055!important;
	}
	.btn-3, .color_btn-3, input.btn-3[type="radio"] + label {
		background: #f4977b;
	}
	.btn-3:hover {
		background: #faab94;
	}
	.btn-3.active {
		border-color: #777f2d;
		color:#777f2d!important;
	}
	.btn-4, .color_btn-4, input.btn-4[type="radio"] + label {
		background: #e3634b!important;
	}
	.btn-4:hover {
		background: #d74b33;
	}
	.btn-4.active {
		border-color: #e3634b;
		color:#e3634b!important;
	}
	.btn-5, .color_btn-5, input.btn-5[type="radio"] + label {
		background: #fff!important;
	}
	.btn-5:hover {
		background: #e2e2e2;
	}
	.btn-5.active, .btn-5:link {
		border-color: #fff;
		color:#000!important;
	}
	.single-houses .page-title_cont .btn:link, .single-houses .page-title_cont .btn:hover, .single-houses .page-title_cont .btn:visited {
		color: #fff;
	}
	/* add to site specific */
	.background-yellow {
		background: #e6f1ee;
	}
	.bg-yellow {
		background: #70c7c4!important;
	}
	
	.background-green {
		background: #f3e3d5;
		border-top: 1px solid #e9ebca;
	}
	.bg-green {
		background: #f4977b!important;
	}
	
	.background-blue {
		background: #fcf9e9;
		border-top:1px solid #dfe5d8;
	}
	
	.bg-blue {
		background: #fcd36a!important;
	}
}