#footer-bottom {
	padding-bottom:	10px!important;
}
.box_surround {
	width:		135px; 
	display:	inline-block; 
	text-align:	center; 
	color:		#fff;
	margin-top:	16px;
	zoom:		1; 
	*display: 	inline; 
	_height: 	30px;
}
.box_border {
	width:		135px; 
	display:	inline-block; 
	text-align:	center; 
	color:		#574F3A; 
	margin-top:	16px;
	zoom:		1; 
	*display: 	inline; 
	_height: 	30px;
}
.box_s_right {
	margin-right: 12px!important;
}
.box_b_right {
	margin-right: 1px!important;
}
#content_blog {
	display:	block;
	padding:	0!important;
	margin:		0!important;
	overflow:	hidden;
	clear:		none;
	*display: 	inline; 
	_height: 	30px;
}
#sidebar_blog {
	margin:		15px 15px 0 0;
	*display: 	inline; 
	_height: 	30px;
}
#house_nav {
	overflow:	hidden;
	zoom:		1; 
	*display: 	inline; 
	_height: 	30px;
}
#search_nav {
	zoom:		1; 
	*display: 	inline; 
	_height: 	30px;
}
.divider {
	margin:		5px 0 0!important;
}
#searchBar .nav-header {
	margin-top:	-15px!important;
}
.btn-week {
	width:		44px!important;
}
.btn-sea {
	width:		40px!important;
}
#select-group-1 .btn-small, #select-group-2 .btn-small {
	padding-left:	10px!important;
	padding-right:	9px!important;
	margin-bottom:	0px!important;
	margin-top:		1px!important;
}
#house_main_section, .entry-title-house, .house-sleeps-count, #search_main_section, #search_main_section div, .search_advert {
	zoom:		1; 
	*display: 	inline; 
	_height: 	30px;
}
#search_main_section {
	width:		743px!important;
}
#contentcontainer {
	padding: 	0 15px;
}
.house-sleeps-count {
	clear:		none;
	margin-bottom:	15px;	
}
#wp-admin-bar-wpseo-menu {
	display:	none;
}
.btn-small {
	padding-left:	0!important;
	padding-right:	0!important;
}
button {
	padding-left:	0!important;
	padding-right:	0!important;
}
#slideDeck {
	margin:		0!important;
	padding:	0!important;
}
#slideDeck {
	margin:		0!important;
	padding:	0!important;
	height: 	500px; 
	position: 	relative; 
	overflow: 	hidden; 
}
.slide, .slide img, #sliderHome, #slidedeck_frame, #slidedeck_frame dd, #slidedeck_frame dl {
	margin:		0!important;
	padding:	0!important;
}
.ktsub_nav_cont {
	background: #fff;
}
.katlogo {
	height: 20px;
	padding-bottom: 20px;
}
.search_title .btn-group {
	top: 0px;
}
.archive .menu_links {
	height: 40px;
}
#searchBar .btn-group button.btn{
	width: 67px;
	display: inline-block;
}
.background-pink {
	padding-bottom: 20px;
}
.house_desc, .house_meta {
	font-size: 10px;
}
li.orspace {
	padding-right: 15px;
}
.sharing-icons {
	height: 20px;
	padding-bottom: 22px;
}
.extra-strap {
	margin-top: -3px;
}
.topmenu, .topmenu li.active a {
	font-size: 10px;
}
#getdate {
	top:7px;
}
.clearfix {
	clear: both;
}
.specificmenu {
	margin-top: 15px;
}
.menu-top-menu-container {
	margin-right: 15px;
}
.search-container {
	margin-top: 9px;
	margin-right: 14px;
}
#header #searchBar input[type="text"] {
	margin-top: 9px!important;
}
#header input[type="text"] {
	height: 20px!important;
}
.menu-item a:link, .menu-item a:visited, .menu-item a:active,  {
	padding:	0.5em 0!important;
	text-align:	center;
}
.dropdown-toggle {
	padding-left:3px!important;
	padding-right:3px!important;
}
.availSubmit {
	margin-top:	2px!important;
}

#sliderHome dd, .slider dd {
	overflow: hidden;
}
#datepicker {
	padding:	4px 5px 5px!important;
}
#slidedeck_frame {
	overflow:hidden;
}
.sf_block .btn {
	padding-left:	4px!important;
	padding-right:	4px!important;
	padding-top:	2px!important;
	margin-top:		3px!important;
}
.skin-slidedeck {
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Color=#e5e5e5, direction=120, strength=5)";
    filter: progid:DXImageTransform.Microsoft.Shadow(Color=#e5e5e5, direction=120, strength=5);
}
.skin-slidedeck dl.slidedeck dt.active ul.verticalSlideNav { top: 6px; }
.skin-slidedeck dl.slidedeck dt.spine .index,
.skin-slidedeck dl.slidedeck ul.verticalSlideNav li a {
    background-color: #f6f6f6;
    -ms-filter: "progid:DXImageTransform.Microsoft.Chroma(color='#f6f6f6')";
    filter: progid:DXImageTransform.Microsoft.Chroma(color='#f6f6f6');
}
.skin-slidedeck dl.slidedeck dt.spine.active .index,
.skin-slidedeck dl.slidedeck dt.spine.active ul.verticalSlideNav li a {
    background-color: #181818;
    -ms-filter: "progid:DXImageTransform.Microsoft.Chroma(color='#181818')";
    filter: progid:DXImageTransform.Microsoft.Chroma(color='#181818');
}

.gitwrap {
    width: 100%;
}

a.search-block span.absoluteCenterWrapper img {
	height: 240px;
/* 	display:none; */
}

.avail_table .bk_header {
	width: 38px;
}
.search-block h2 {
	color: #fff;
	background: none;
}